# Folder view configuration files
.DS_Store
.idea
Desktop.ini
.ipynb_checkpoints
/code/.ipynb_checkpoints/


# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Compiled Python files
*.pyc

# Compiled C++ files
*.out

# Application specific files
venv
node_modules
.sass-cache

# project files
/code/04_analysis_nuclearity.ipynb
/data/old/main_conflicts_aligned_old.csv
/data/old/
/code/old/